@use '../abstract/colors' as color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: color.$body-color;
}

p {
    line-height: 3rem;
}

img {
    width: 100%;
}

a,
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

.limit-content {
    max-width: 114rem;
    margin: 0 auto;
}