@use '../abstract/colors' as color;
@use '../abstract/breakpoints' as media;
@use '../abstract/mixins' as mixin;

.menu {
    margin-top: 10rem;
    padding: 0 4rem;

    @include media.laptops {
        background-image: url(../images/bg-icons-1.png);
        background-size: contain;
        margin-top: 15rem;
    }

    &__texts {
        text-align: center;
    }

    &__title {
        @include mixin.titleStyles;
    }

    &__subtitle {
        @include mixin.subtitleStyles;
    }

    &__options {
        margin-top: 7rem;
    }

    &__buttons-container {
        @include mixin.flex-horizontal;
        gap: 3rem;
        overflow-x: scroll;
        padding-bottom: 3rem;

        &::-webkit-scrollbar {
            background-color: color.$gray-terciary;
            border-radius: 1.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e4e4e8;
            height: 5px;
            border-radius: 1.5rem;
        }

        @include media.laptopsLarge {
            overflow-x: visible;
        }
    }

    &__button-food {
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        padding: 1.4rem 2.4rem;
        font-size: 1.8rem;
        @include mixin.flex-horizontal;
        gap: 2rem;
        border-radius: 1.5rem;
        background-color: color.$body-color;
    }

    &__foods-container {
        margin-top: 5rem;
        display: grid;
        gap: 3rem;

        @include media.smallTablets {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @include media.laptops {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            place-items: center;
        }

        @include media.desktops {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    &__food {
        @include mixin.flex-horizontal;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 1.5rem;
        padding: 1.5rem 2rem;
        position: relative;
        font-size: 2.1rem;
        background-color: color.$body-color;

        @include media.laptops {
            width: 25rem;
            padding: 3rem 2.5rem;
        }
    }

    &__food-main {
        @include mixin.flex-horizontal;
        gap: 2rem;

        @include media.laptops {
            @include mixin.flex-vertical;
            text-align: center;
        }
    }

    &__food-image img {
        width: 8rem;
        border-radius: 1rem;

        @include media.laptops {
            width: 100%;
        }
    }

    &__food-texts p {
        font-weight: 700;
    }

    &__food-texts span {
        color: color.$primary-color;
        font-weight: 700;
    }

    // ? container food hover

    &__food-hover {
        opacity: 0;
        transition: all .2s;
        position: absolute;
        left: 12.5rem;

        @include media.laptops {
            left: 3.5rem;
            bottom: 3rem;
            text-align: center;
        }
    }

    &__food:hover &__food-hover {
        opacity: 100;
    }

    &__food:hover {
        background-color: color.$primary-color;
    }

    &__food:hover &__food-texts {
        opacity: 0;
    }

    &__hover-title {
        font-weight: 600;

        @include media.laptops {
            font-size: 2.3rem;
        }
    }

    &__food-buttons {
        margin-top: .5rem;
        @include mixin.flex-horizontal;
        gap: 2rem;
    }

    &__food-count-container {
        border: 2px solid color.$black-primary;
        padding: .5rem;
        border-radius: 1rem;
    }

    &__food-count {
        padding: 0 1.5rem;
        border: 2px solid color.$black-primary;
        border-top: none;
        border-bottom: none;
        font-size: 1.8rem;
    }

    &__food-icon {
        padding: 0 .5rem;
    }

    &__food-shopping-cart {
        background-color: color.$black-primary;
        color: color.$white-primary;
        padding: .8rem 1.5rem;
        border-radius: 1rem;
        font-size: 1.8rem;
    }
}