@use '../abstract/colors' as color;
@use '../abstract/breakpoints' as media;
@use '../abstract/mixins' as mixin;

.services {
    margin-top: 10rem;
    padding: 0 4rem;
    background-image: url(../images/bg-icons-2.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__texts {
        text-align: center;
    }

    &__title {
        @include mixin.titleStyles;
    }

    &__subtitle {
        @include mixin.subtitleStyles;
    }

    &__benefits-container {
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        gap: 10rem;

        @include media.laptops {
            flex-direction: row;
            align-items: end;
        }
    }

    &__benefits {
        // background-color: color.$white-primary;
        text-align: center;
        // padding: 4rem 5rem;
        border-radius: 2rem;
        // box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    &__img {
        width: 25rem;
    }

    .img-request {
        width: 15rem;
    }

    &__benefits-texts { 
        margin-top: 3.5rem;

        h3 {
            font-size: 2rem;

            @include media.laptops {
                font-size: 2.5rem;
            }
        }

        p {
            margin-top: 1rem;
            font-size: 1.5rem;
            color: color.$gray-secondary;
        }
    }
}