@use '../abstract/colors' as color;
@use '../abstract/breakpoints' as media;
@use '../abstract/mixins' as mixin;

// ? Button Shopping Cart

.button-cart {
    background-color: color.$primary-color;
    width: 5rem;
    height: 5rem;
    @include mixin.flex-horizontal;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 3rem;

    span {
        // display: none;
        position: relative;
        bottom: 2.2rem;
        left: 1.8rem;
        background-color: color.$secondary-color;
        font-size: 1.4rem;
        font-weight: 600;
        padding: .2rem .8rem;
        border-radius: 50%;
    }

    i {
        font-size: 2.3rem;
        position: absolute;
    }
}


// ? Shopping Cart

.cart {
    position: fixed;
    top: 0;
    left: 0;
    background-color: color.$white-primary;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 5rem 4rem;

    @include media.smallTablets {
        padding: 5rem 10rem;
    }
}


// * Cart Header


.cart__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cart__phases-container {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: color.$gray-terciary;
            z-index: -1;
        }

        div {
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            @include mixin.alignment-horizontal-vertical(flex, row, center, center, .1rem);
            font-size: 1.5rem;
            font-weight: 500;
            background-color: color.$white-primary;
        }

        .phase-marked {
            background-color: color.$primary-color;
        }
    }

    .cart__close-button {
        background-color: color.$white-primary;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        box-shadow: 0 1rem 1.5rem -.3rem rgba(0, 0, 0, 0.1);
        font-size: 1.7rem;
        transition: all .3s;

        &:hover {
            background-color: color.$primary-color;
        }
    }
}


// * Main Cart Content

.cart__main-content {
    margin-top: 4rem;

    h2 {
        font-size: 2.3rem;
    }
}


// ? "My Cart" Section

.cart__my-cart {

    .my-cart__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
    }

    .my-cart__content {
        @include mixin.flex-horizontal;
        gap: 2.5rem;
        flex: 1;
    }

    .my-cart-image {
        width: 8rem;

        @include media.smallTablets {
            width: 10rem;
        }

        img {
            border-radius: 1.5rem;
        }
    }

    .my-cart__texts {
        font-weight: 600;
        font-size: 1.9rem;

        @include media.smallTablets {
            font-size: 2.2rem;
        }

        @include media.mobileDevices {
            p {
                line-height: 2.4rem;
            }
        }

        span {
            color: color.$primary-color;
            font-weight: 700;
        }
    }

    .my-cart__buttons-container {
        @include mixin.flex-horizontal;
        gap: 2rem;
    }
    
    .my-cart__button-count {
        border: 2px solid color.$black-primary;
        border-radius: .8rem;
        padding: .3rem .1rem;
        font-size: 1.8rem;
        flex: 2;

        @include media.smallTablets {
            padding: .3rem 1rem;
            font-size: 1.9rem;
        }
    }

    .my-cart__food-icon {
        padding: 0 .5rem;

        @include media.smallTablets {
            padding: 0 .5rem;
        }
    }

    .my-cart__food-count {
        border: 2px solid color.$black-primary;
        border-top: none;
        border-bottom: none;
        font-size: 1.8rem;
        padding: 0 1rem;

        @include media.smallTablets {
            padding: 0 1.5rem;
            font-size: 1.8rem;
        }
    }

    .my-cart__button-close {
        background-color: color.$red-primary;
        font-size: 2rem;
        padding: .3rem 1.2rem;
        border-radius: 1rem;
        color: color.$white-primary;
        display: none;

        @include media.smallTablets {
            display: block;
        }
    }
}