/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use '../abstract/colors' as color;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\layout\shopping-cart-container\_cart-container.scss 1:1  @use
 *   assets\scss\layout\layout.scss 11:1                                  @use
 *   assets\scss\app.scss 3:1                                             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use '../abstract/colors' as color;\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\layout\\shopping-cart-container\\_cart-container.scss 1:1  @use\a   assets\\scss\\layout\\layout.scss 11:1                                  @use\a   assets\\scss\\app.scss 3:1                                             root stylesheet";
}
