@mixin flex-horizontal {
    display: flex;
    align-items: center;
}

@mixin alignment-horizontal-vertical($type, $direction, $justify, $aling, $gap) {
    display: $type;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    gap: $gap;
}